apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: coin-pilot-ns
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        orgId: 1
        url: http://prometheus:9090
        basicAuth: false
        isDefault: true
        version: 1
        editable: false
