apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: coin-pilot-ns
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'coinpilot-core'
        static_configs:
          - targets: ['bot:8000']
        metrics_path: '/metrics'

      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
