apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: coin-pilot-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          ports:
            - containerPort: 9090
          # Using default config or mounting config map if needed.
          # For minimal setup, default checks simple metrics or needs config to scrape services.
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: coin-pilot-ns
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090
  type: NodePort
